<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid top">
    <div class="row">
      <div class="col-12">
        <p *ngIf="auth.getUser()" class="welcome">Welcome, {{ auth.getUser() }}!</p>
        <p *ngIf="auth.getUser()" (click)="logout()" class="logout text-primary">Logout</p>
      </div>
    </div>
  </div>

  <div class="container">
    <img id="raceCar" class="pull-right" src="https://purepng.com/public/uploads/large/purepng.com-mclaren-650s-gt3-yellow-race-carcarvehicletransportmclarenrace-car-961524644630j4tgq.png">
    <h1 class="display-4">Softrams Racing</h1>
    <p class="lead">Redefining digital frontiers.</p>
  </div>
</div>
