.login-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row {
    margin-left: 0;
    margin-right: 0;
}

.error {
    color: red;
}

.valid {
    color: green;
}

button.btn:disabled {
    background-color: grey;
    outline: none;
    border: none;
}
