<table class="table">
  <thead>
    <th (click)="addMemberRow()" style="cursor: pointer;">
    <i [@addMemToggle]="adding ? 'adding' : 'notAdding'" class="fas fa-plus"></i>
    </th>
    <th *ngFor="let header of headers">{{ header }}</th>
  </thead>
  <tbody>
    <tr
      [@enterani]="true"
      *ngFor="let member of members"
      table-row
      [member]="member"
      [adding]="adding"
      [teams]="teams"
      [saveStatus]="saveStatus"
      (save)="saveMember($event)">
    </tr>
  </tbody>
</table>

<app-modal></app-modal>
